@use './components/variables';
@use './components/nav';
@use '../../node_modules/bootstrap/scss/bootstrap';

body {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

// .footer-div {
//   position: absolute;
//   bottom: 0;
//   height: 50px;
//   background-color: grey;
// }
