@import './components/variables';
@import './components/nav';
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  max-width: 1000px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
  
h1, h2 {
  text-align: center;
  margin: 25px 0;
}

.login-form {
  background-color: white;
  border-radius: 5px;
}

textarea {
  resize: none;
  width: 100%;
  max-width: 350px;
}

.create-post {
  border-radius: 5px;
}

footer {
  background-color: map-get($color, navColor);
}


// .footer-div {
//   position: absolute;
//   bottom: 0;
//   height: 50px;
//   background-color: grey;
// }
