@import './variables';

nav {
  background-color: map-get($color, mediumGrey);
}

.logo {
  font-size: 36px;
  color: map-get($color, lightPurple);

}

.nav-item a:hover,
.nav-item a:active {
  text-decoration: underline;
}
