@import './variables';

nav {
  background-color: map-get($color, navColor);
}

nav .navbar-brand{
  color: map-get($color, logoColor);
}

.nav-item a:hover,
.nav-item a:active {
  text-decoration: underline;
}